#!/bin/rc

rfork e

argv0=$0
path=(. /bin)
opt=()

fn usage {
	echo 'usage:' $argv0 '[-n] file ...' >[1=2]
	exit usage
}

while(~ $1 -*){
	switch($1){
	case -n
		opt=($opt $1)
	case *
		usage
	}
	shift
}

for(file in $*){
	if(test -f $file){
		echo $"file `{wc -l <$file}
	}
	if not echo 'missing:' $file
}

<>/tmp/example {
	echo 'How''s your father?'
	cat <{echo generated} >[2]/dev/null
}
